/* Font defaults */
@font-face {
    font-family: 'Figtree';
    src: url(/assets/fonts/Figtree-VariableFont_wght.ttf);
}

:root {
    --ff: 'Figtree', sans-serif;

    --fw-regular: 500;
    --fw-bold: 800;
    
    --fs-body: 16px;

    /* Color defaults */
    --clr-primary-yellow: hsl(47, 88%, 63%);
    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-grey: hsl(0, 0%, 50%);
    --clr-neutral-black: hsl(0, 0%, 7%);

    /* Mobile width defaults */
    --mobile-card-width: 327px;

    /* Desktop width defaults */
    --desktop-card-width: 384px;

    /* Border radius */
    --br: 10px;
}
/* Reset */
* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: var(--clr-primary-yellow);
    
}   
.wrapper{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card {
    border: 1px solid var(--clr-neutral-black);
    border-radius: var(--br);
    background-color: var(--clr-neutral-white);
    max-width: var(--desktop-card-width);    
    min-width: var(--mobile-card-width);    
    padding: 20px;
    border: 1px var(--clr-neutral-black) solid;
    box-shadow: 10px 10px var(--clr-neutral-black);
}
.posterImage img{
    border-radius: var(--br);
    width: 100%;
    margin-bottom: 20px;
}
.content{
    font-family: var(--ff);
    font-size: var(--fs-body);
}
.content > h1{    
    font-family: inherit;
    font-size: inherit;
    border: var(--clr-primary-yellow) solid 1px;
    border-radius: 4px;
    background-color: var(--clr-primary-yellow);
    text-align: center;
    width: 85px;
    height: 25px;
}
.content > h2{
    display: inline;
    font-family: inherit;
    font-size: 12px;
    font-weight: var(--fw-regular);
}
.content > h3{
    font-family: inherit;
    font-size: 20px;
    font-weight: var(--fw-bold);
}
.content > h3:hover{
    color: var(--clr-primary-yellow);
}
.content > p{
    font-family: inherit;
    font-size: 14px;
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-grey);
}
.author-info {
    display: flex;
    align-items: center;
}
.authorAvatar {
    width: 32px;
    height: 32px;
}
.author{
    padding-left: 5%;
    font-family: inherit;
    font-size: inherit;
    font-weight: var(--fw-bold);
}
.attribution {
    transform: translate(0px, -50px);
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}